<h1>Edit Task</h1>

<%= form_with model: @task, local: true do |form| %>
  <p>
    <%= form.label :task_name %><br>
    <%= form.text_field :task_name %>
  </p>

  <p>
    <%= form.label :completed %><br>
    <%= form.check_box :completed %>
  </p>

  <p>
    <%= form.submit "Update Task" %>
  </p>
<% end %>
