<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Friends" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Friends">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tasks", "data-turbo-track": "reload" %>
    <!-- Add Chart.js UMD build -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <%= javascript_importmap_tags %>
    <style>
      
      nav {
        background-color: #333;
        padding: 10px;
      }
      nav a {
        color: white;
        margin-right: 15px;
        text-decoration: none;
        font-weight: bold;
      }
      nav a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  
  <body>
      <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "About Us", about_path %>
      <%= link_to "Sign UP", signup_path %>
      <%= link_to "Login" ,login_path%>
      <%= link_to "Friends", friends_path %>
      <%= link_to "Tasks" , tasks_path %>
      <%= button_to "Logout", logout_path, method: :delete %>

    </nav>

    <% flash.each do |key, message| %>
    <div class="flash <%= key %>"><%= message %></div>
  <% end %>
  
    <%= yield %>
  </body>
</html>
